body{   
    background-color: pink;
    margin:0; padding:0;
    display: grid;
    justify-content: center;
    align-items: center;

}
.container{
    display:flex
    justify-content: flex-end;
}
#card{
    height:25rem; width:25rem; background-color:green;
    font-size: 12pt;
    padding:0.25;
    border: 0.05em; solid :rgb; 
    border: radius 10%;
    box-shadow: 0.12rem 0.5 0.3rem rgb(red, green, blue)/* 4 values, x-axis y-axis blur colors*/
}
card:hover{
    height:20rem;
    background: white;
    width:17rem;
    padding:0.25em;
    border:0.1em; solid white; 
    box-shadow: 0.12rem 0.5 0.3rem rgb(red, green, blue)/* 4 values, x-axis y-axis blur colors*/
}
div#red{

}
<div id="card">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Unde nisi veritatis nesciunt animi, 
         eveniet consequuntur aspernatur illo omnis adipisci id esse obcaecati, 
         in voluptate. Ex nisi ad id eius. Similique?
     </div>